@import "themes/superior-scaffolding/less/main.less";

.Commercial {

  img {
    width: 100%;
  }

  .commercial_projects_wrapper {
    background: white;
    padding: 20px 0px;

    img {
      width: 160px;
      height: 110px;
    }

    div {
      min-height: 130px;
    }
  }

  .content_wrapper,
  .reviews_wrapper {
    padding: 20px 0px;
  }

  .page_bottom_wrapper {

    img {
      width: 90%;
    }
  }

}