@import "themes/superior-scaffolding/less/main.less";

.Residential {

  img {
    width: 100%;
  }

  .projects_wrapper {
    background: white;
    padding: 20px 0px;
    margin: 20px 0px;

    div {
      margin: 10px 0px;
    }
  }

}